@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  background: #fbfbfb;
  color: #333338;

  /* width: 100%; */
  /* height: 100vh; */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;

  /* scroll-behavior: smooth; */
  /* overflow: hidden; */
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: none;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleY(1.2);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  width: 100px !important;
  height: 10px;
  border-radius: 10px;
  margin: 2px;
}
