@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  background: #fbfbfb;
  color: #333338;

  /* width: 100%; */
  height: 100vh;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;

  /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
