.loading_mask {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;

  background: #f2f2f4;
  color: #404048;

  overflow: hidden;
  white-space: nowrap;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.loading_text {
  position: absolute;
  left: 5vw;
  bottom: 10vw;

  height: calc(100vh - 20vw);
  width: 90vw;

  font-family: "Mark-Pro";
  font-weight: 500;

  font-size: 6vw;
  letter-spacing: -0.04em;
  line-height: 1.2em;
}

.loading_text .text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.loading_text .text div {
  position: relative;
  opacity: 0;
  visibility: hidden;

  transform: translateY(50%) rotate(1deg);
  -webkit-transform: translateY(50%) rotate(1deg);

  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
}

.st0 {
  fill: #404044;
}
.st1 {
  fill: #404044;
}
